---
import Head from "../components/Head.astro"
---

<!doctype html>
<html lang="en">
  <Head>
    <title>Astro + Cloudflare Template</title>
  </Head>
  <body>
    <h1 class="text-2xl font-bold">Hello, World!</h1>
  </body>
</html>
